<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
    <smal><%= place.user.email %></small>
    <% end %>

    <% if place.comments.present? %>
    <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b>
              <br />
          <% end %>
          <%= place.comments.last.message %>
            <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
      <% end %>
  </div>

  <% end %>
  
  <%= will_paginate @places, list_classes: %w(pagination justify-content-center) %>
