
<div id="carouselExampleIndicators" class="carousel slide mb-3" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'nom001s.jpg', class: 'd-block w-100 img-fluid' %>
      <div class="carousel-caption">
        
        <h3>Sweet Mapple</h3>
        <p>2101 Sutter St, San Francisco, CA 94115</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'nom002s.jpg', class: 'd-block w-100 img-fluid' %>
      <div class="carousel-caption d-none d-sm-block">
        <h3>Absinthe Brasserie & Bar</h3>
        <p>398 Hayes St, San Francisco, CA 94102</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'nom003s.jpg', class: 'd-block w-100 img-fluid' %>
      <div class="carousel-caption">
        <h3>Nopa</h3>
        <p>560 Divisadero St, San Francisco, CA 94117</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'nom004s.jpg', class: 'd-block w-100 img-fluid' %>
      <div class="carousel-caption">
        <h3>State Bird Provisions</h3>
        <p>1529 Fillmore St, San Francisco, CA 94115</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'nom005.jpg', class: 'd-block w-100 img-fluid' %>
      <div class="carousel-caption">
        <h3>Swan Oyster Depot</h3>
        <p>1517 Polk St, San Francisco, CA 94109</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag 'nom006.jpg', class: 'd-block w-100 img-fluid' %>
      <div class="carousel-caption">
        <h3>Horsefeather</h3>
        <p>528 Divisidero St, San Francisco, CA 94117</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Listing of places --> 

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
  <% if place.photos.present? %>
  <div class="card no-border">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag(place.photos.first.picture.url(:thumb), class: 'img-fluid card-img') %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1><%= link_to place.name, place_path(place) %></h1>
          <i><%= place.address %></i><br /><br />
          <p><%= place.description %></p><br />
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <h1><%= link_to place.name, place_path(place) %></h1>
          <i><%= place.address %></i><br /><br />
          <p><%= place.description %></p><br />

<% end %>
  
    

    <% if place.user.present? %>
    <div class="float-right">
      <small>Added by: <%= place.user.email %></small>
    </div>
    <% end %>

    <% if place.comments.present? %>
    <div class="col-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b>
              <br />
          <% end %>
          <%= place.comments.last.message %>
            <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
      <% end %>
  </div>

<% end %>
  
<%= will_paginate @places, list_classes: %w(pagination justify-content-center) %>
